# === Webフレームワーク系 ===
fastapi
uvicorn[standard]
gunicorn
# === 認証系（Firebase）===
firebase-admin
# === Supabase 連携（PostgRESTベースAPI用）===
httpx  # 非同期API通信に使える軽量HTTPクライアント
#supabase  
https://github.com/supabase-community/supabase-py/archive/refs/tags/v1.0.3.zip
# === 画像処理 / OCR ===
opencv-python-headless
pytesseract
Pillow
# === PDF 出力 ===
weasyprint
# === 地図 / 地価 / Geo対応 ===
geopandas
geopy
shapely
fiona
pyproj
gdal==3.4.*
# === 機械学習 / データ処理 ===
xgboost
scikit-learn
pandas
numpy
# === API監視 / メトリクス ===
prometheus-fastapi-instrumentator
# === その他ユーティリティ ===
python-multipart
python-dotenv

# === はるにゃん追加 ===
#TODO:分類して
pyarrow